<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
</head>
<body>
    <div class="container">
        <!-- Left Window (Image) -->
        <div class="left-window">
            <img src="/img/pets/{{data.0.filename}}" alt="Pet Image">
        </div>
        <!-- Right Window (Details) -->
        <div class="right-window">
            <h1>{{data.0.name}}, {{data.0.birth}} </h1>
            <div class="icon-text"><span class="icon"><img src="/img/page/magnify.svg"></i></span> {{data.0.species}} - {{data.0.breed}}</div>
            <div class="icon-text"><span class="icon"><img src="/img/page/ruler.svg"></i></span> {{data.0.size}}</div>
            <div class="icon-text"><span class="icon"><img src="/img/page/where.svg"></i></span> {{data.0.shelter}}<br>{{data.0.street}}, {{data.0.city}} {{data.0.state}} {{data.0.postal}}</div>
            <div class="icon-text"><span class="icon"><img src="/img/page/phone.svg"></i></span> {{data.0.phone}}</div>
            <div class="icon-text"><span class="icon"><img src="/img/page/mail.svg"></i></span> {{data.0.email}}</div>
            <p class="description">
                {{data.0.description}}
            </p>
        </div>
    </div>
    <!-- Control Panel -->
    <div class="control-panel">
        <button class="control-button">←</button>
        <button class="control-button">→</button>
    </div>
</body>
</html>